/*all default elements*/
:root{
  --c-card-sdw: #D5D9FF;
  --c-white: #fff;
  --c-indigo: #6558d3; 
  --c-d-indigo: #4436c9;
	--c-l-indigo: #ecebfa;
	--c-bg: #f2f8fb;
	--c-gray: #f4f4f4;
	--c-d-gray: #a0a0a0;
	--c-black: #141b22;}
#container{
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1rem;}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
	padding: 1rem;}
*{box-sizing: border-box;}
/* body style*/
html {scroll-behavior: smooth;}
html,body{
  user-select: none;
  height: 100vh;
  width: 100%;
	margin: 0rem;
	box-sizing: border-box;
	background-color: var(--c-bg);}
/*Top navigation*/
.head {
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  background-color: var(--c-white);
  width: 100%;
  height: 4rem;
  z-index: 99;}
.head .logo {
  float: left;
  color: var(--c-black);
  font-size: 1.5em;
  height: 4rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;}
.head .logo img{margin-right: 0.31rem;}
/* menu */
#navbar {
  display: block;
  transition: top 0.3s;}
.head .menu {
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;}
.head ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  overflow: hidden;
  background-color: var(--c-white);}
.head li a {
  display: block;
  color: var(--c-black);
  padding: 16px 20px;
  border-right: 1px solid var(--c-gray);
  text-decoration: none;}
.head li a:hover{
  color: var(--c-d-indigo);
  background-color: var(--c-gray);}
/* menu icon */
.head .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 0 20px;
  height: 100%;
  position: relative;
  user-select: none;}
.head .menu-icon .navicon {
  background: var(--c-black);
  display: block;
  top: 2rem;
  height: 3px;
  width: 22px;
  position: relative;
  transition: background .2s ease-out;}
.head .menu-icon .navicon:before,
.head .menu-icon .navicon:after {
  background: var(--c-black);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;}
.head .menu-icon .navicon:before{top: 5px;}
.head .menu-icon .navicon:after{top: -5px;}
/* menu btn */
.head .menu-btn { display: none;}
.head .menu-btn:checked ~ .menu {
  max-height: 540px;}
.head .menu-btn:checked ~ .menu-icon .navicon { background: transparent;}
.head .menu-btn:checked ~ .menu-icon 
.navicon:before {transform: rotate(-45deg);}
.head .menu-btn:checked ~ .menu-icon 
.navicon:after { transform: rotate(45deg);}
.head .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.head .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after { top: 0;}
/* Desktop mode 48em = 768px */
@media (min-width: 48em) {
 .head li { float: left;}
 .head li a {padding: 22.6px 16px;}
 .head .menu {
    clear: none;
    float: right;
    max-height: none;}
.head .menu-icon {display: none;}}

/*home page*/
#Home-grid{
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: 0.9px;
  line-height: 26px;
  padding-top: 2rem;
  text-align: center;}
#Home-grid img{
  margin-top: 1rem;
  height: 220px;}
#Home-grid h4{
  padding: 0 10px;}
#Home-grid button{
  padding: 0.8rem 2rem;
  border: none;
  color: var(--c-white);
  background-color: #6558d3;
  border-radius: 4px;}
#Home-grid button:hover{
  background-color: var(--c-d-indigo);}
@media (min-height: 700px) {
 #Home-grid img{margin-top: 3rem;}
 .scroll-down {margin-top: 40%;}}
  
@media (min-width: 768px) {
  #Home-grid{
  padding: 6rem 2rem;
  column-gap: 6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;}
  #Home-grid #home-details{
  text-align: left;}
  #Home-grid img{
  height: 350px;
  margin-top: 0rem;}
  #Home-grid h4{ 
  padding: 0rem;
  text-align: justify;}}
@media (min-width: 1000px) {
  #Home-grid{
  column-gap: 6rem;
  padding: 6rem 4rem;}}

.scroll-down {
 width: 100%;
	display: flex;
	justify-content: center;
  bottom: 5.625rem;
	margin-top: 30%;
	color: var(--c-d-gray);
	font-size: 24px;
	animation: fade_move_down 2s ease-in-out infinite;}
/*animated scroll arrow animation*/
@keyframes fade_move_down {
0%{
transform:translate(0, -10px);
opacity: 0;}
50% {opacity: 1;}
100% {transform:translate(0, 10px); opacity: 0;}}
@media (min-width: 768px){
  .scroll-down{
  position: relative;
  margin-top: 8%;}}
@media (min-width: 1000px){
  .scroll-down{margin-top: 3%;}}
/********************************/

/*Cards start*/
/*floating search bar*/
.sticky{
  padding: 4px 0;
  width: 100%;
  z-index: 98;
  position: sticky;
  top: 4rem;
  background-color: var(--c-bg);
  display: flex;
  justify-content: center;
  align-items: center;}
.sticky input{
  border: 1px solid var(--c-d-gray);
  border-right: transparent;
  outline: none;
  width: 85%;
  padding: 0.6rem;
  border-radius: 6px 0 0 6px;}
 .sticky input:focus{
    border: 1px solid var(--c-indigo);
    border-right: transparent;
    transition: 0.30s ease;
    color: var(--c-indigo);}
.search-icon{
  padding: 9.5px;
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  color: var(--c-white);
  background-color: var(--c-indigo);
  display: flex;
  justify-content: center;
  align-items: center;}
@media (min-width: 768px){
  .sticky input{width: 90%;}}

/*card style*/
.cards {
  display: flex;
  padding: 0.5rem;
  width: 100%;}
@media (min-width: 768px) {
  .cards {
    padding: 1rem;
    width: 50%;}}
@media (min-width: 1000px) {
  .cards {
    padding: 1.3rem;
    width: 33%;}}
  
.cards .card-item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 10px 40px -14px #D5D9FF;
  border-radius: 6px;
  overflow: hidden;}
  
.cards .card-image {
  height: 160px;
  margin: 3px 3px 0 3px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;}
.cards .card-image .card-share{
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px 6px;
  color: var(--c-white);
  font-size: 24px;
  z-index: 3;}
.cards .card-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;}
.cards .card-tag{
  padding-bottom: 0.4rem;}
.tags{
		display: inline-block;
		background-color: var(--c-l-indigo);
		color: var(--c-indigo);
		font-weight: 600;
		font-size: 0.875rem;
		padding: 0.2em 0.60em;
		border-radius: 10px;}
  
.cards .card-title {
  font-size: 23px;
  line-height: 1.2em;
  color: #32325d;
  margin: 0em;}
.cards .card-d{ line-height: 1.5em;}
.cards .card-d a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #7b7992;}
.cards .card-button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5em;}
.cards .card-button .button2 {
    font: inherit;
    background-color: var(--c-indigo);
	  color: var(--c-white);
	  border: none;
		width: 18rem;
		height: 3.2rem;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;}
.cards .card-button .button1 {
    font: inherit;
	  color: var(--c-indigo);
	  border: 2px solid var(--c-indigo);
	  background-color: var(--c-white);
		width: 16rem;
		height: 3.2rem;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;}
.cards .button2:hover,.button2:focus {
			background-color: var(--c-d-indigo);}
